nav(class=['sb-sidenav', 'accordion', 'sb-sidenav-dark'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        .nav
            .sb-sidenav-menu-heading
                | Merchs
            
            if (locals.user)
                a.nav-link(href='/dashboard')
                    .sb-nav-link-icon
                        i.material-icons dashboard
                    | Dashboard
            if (locals.admin)
                a.nav-link(href='/dashboard-admin')
                    .sb-nav-link-icon
                        i.material-icons dashboard
                    | Dashboard
            .sb-sidenav-menu-heading
                | Personal

            a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
                .sb-nav-link-icon
                    i.material-icons satellite
                | Products
                .sb-sidenav-collapse-arrow
                    i.fas.fa-angle-down
            #collapseLayouts.collapse(aria-labelledby='headingOne', data-parent='#sidenavAccordion')
                nav.sb-sidenav-menu-nested.nav
                    a.nav-link(href='/products') All
                    if (locals.user)
                        a.nav-link(href='/products/new') Create new                     
            
            a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#collapsePages1' aria-expanded='false' aria-controls='collapsePages1')
                .sb-nav-link-icon
                    i.material-icons shopping_cart
                | Orders
                .sb-sidenav-collapse-arrow
                    i.fas.fa-angle-down
            #collapsePages1.collapse(aria-labelledby='headingTwo', data-parent='#sidenavAccordion')
                nav.sb-sidenav-menu-nested.nav.accordion#sidenavAccordionPages
                    a.nav-link(href='/orders') All

            if (locals.admin)
                a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#collapsePages2' aria-expanded='false' aria-controls='collapsePages2')
                    .sb-nav-link-icon
                        i.material-icons account_circle
                    | Users
                    .sb-sidenav-collapse-arrow
                        i.fas.fa-angle-down
                #collapsePages2.collapse(aria-labelledby='headingThree', data-parent='#sidenavAccordion')
                    nav.sb-sidenav-menu-nested.nav.accordion#sidenavAccordionPages
                        a.nav-link(href='/users') All
                    
                    //-     .sb-sidenav-collapse-arrow
                    //-         i.fas.fa-angle-down
                    //- #pagesCollapseAuth.collapse(aria-labelledby='headingOne', data-parent='#sidenavAccordionPages')
                    //-     nav.sb-sidenav-menu-nested.nav
                    //-         a.nav-link(href='/orders') All
                    //-         a.nav-link(href='register.html') Pending
                    //-         a.nav-link(href='password.html') Completed
                    //- a.nav-link.collapsed(href='#', data-toggle='collapse' data-target='#pagesCollapseError' aria-expanded='false' aria-controls='pagesCollapseError')
                    //-     | Returns
                    //-     .sb-sidenav-collapse-arrow
                    //-         i.fas.fa-angle-down
                    //- #pagesCollapseError.collapse(aria-labelledby='headingOne', data-parent='#sidenavAccordionPages')
                    //-     nav.sb-sidenav-menu-nested.nav
                    //-         a.nav-link(href='401.html') All
                    //-         a.nav-link(href='404.html') Pending
                    //-         a.nav-link(href='500.html') Completed

    .sb-sidenav-footer
        if (locals.user)
            | #{locals.user.username}
        else if (locals.admin)
            | #{locals.admin.username}
        a(href='/logout').ml-2 Logout
