extends ../../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
block content
    .container-fluid.my-2
        include ../includes/page-header.pug
        .row
            .col-sm-12  
                div(class="alert alert-primary alert-dismissible fade show") Remember! Send orders to customers asap.
                    button(type="button" class="close" data-dismiss="alert") &times

        .row
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-area.mr-1
                        | Quantity per category
                    .card-body
                        figure.highcharts-figure
                            div#pie
                    
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-bar.mr-1
                        | Money per month
                    .card-body
                        figure.highcharts-figure
                            div#line

    script.

        var months = !{JSON.stringify(months)};
        var money = !{JSON.stringify(money)};
        var dataPie = !{JSON.stringify(dataPie)};

        Highcharts.chart('pie', {
            chart: {
                backgroundColor: '#495057',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: dataPie
            }]
        });
        
        //-LINE 
        Highcharts.chart('line', {
            chart: {
                backgroundColor: '#495057',
                type: 'line'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: months
            },
            yAxis: {
                title: {
                    text: '',
                }             
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: '',
                data: money,
                dataLabels: {
                    style: {
                        color: '#fff'
                    }
                }
            }]
        });
        

