extends ../../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
block content
    .container-fluid.my-2
        include ../includes/page-header.pug
            a.mb-2.material-icons.btn-primary.btn-sm.btn.text-dark(data-toggle="modal" data-target="#dashModal") note_add 
                
            #dashModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='dashModalLabel' aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#dashModalLabel.modal-title Add note
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            div.form-group
                                label(for="message-text" class="col-form-label") Message:
                                textarea(class="form-control" id="message-text")
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                            button.btn.btn-primary(type='button' data-dismiss='modal' onclick="handleModal()") Add
        .row
            .col-sm-12 
                #alertModal 
        .row
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-area.mr-1
                        | Quantity per brand
                    .card-body
                        figure.highcharts-figure
                            div#pie
                    
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-bar.mr-1
                        | Money per month
                    .card-body
                        figure.highcharts-figure
                            div#line

    script.

        var months = !{JSON.stringify(months)};
        var money = !{JSON.stringify(money)};
        var dataPie = !{JSON.stringify(dataPie)};

        Highcharts.chart('pie', {
            chart: {
                backgroundColor: '#495057',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: dataPie
            }]
        });
        
        //-LINE 
        Highcharts.chart('line', {
            chart: {
                backgroundColor: '#495057',
                type: 'line'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: months
            },
            yAxis: {
                title: {
                    text: '',
                }             
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: '',
                data: money,
                dataLabels: {
                    style: {
                        color: '#fff'
                    }
                }
            }]
        });
