/* body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sizesWrapper{
  display: flex;
  flex-direction: column;
}

.sizeBox{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.sizeBox input{
  margin-right: 1em;
}

.sizesWrapper input{  
  margin-bottom: 15px;
}

.sizesWrapper .quantity{
  width: 100px;
  margin-left: 1em;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px;
}
 */