extends ../layout.pug

block content

    .container

        h1 Sign In

        form(action="/sign-in" method="post")

            div.form-group
                label Email
                input(type="email" name="email").form-control

            div.form-group
                label Password
                input(type="password" name="password").form-control

            div.form-group
                input(type="submit" value="Sign In").btn.btn-primary



