extends ../layout

block content 
    a(href="/products")
        button.btn.btn-info List  
    h2 Create new product
    form(action='/products/create', method='POST', class="newProduct")
        label Title
        input(type="text", name='title').form-control

        label Description
        textarea(name="description", cols="30", rows="4").form-control

        label Price
        input(type="text", name='price').form-control

        label Discount
        input(type="text", name='discount').form-control

        label Brand
        select(name='brand').custom-select
            option(value='') Please Select
            each item in brands
                option(value=item.id)=item.name

        label Category
        select(name='category').custom-select
            option(value='') Please Select
            each item in categories
                option(value=item.id)=item.name

        .custom-file.my-2
            input(type="file" class="custom-file-input" id="customFile")
            label(class="custom-file-label" for="customFile") Upload images

        label Sizes
        .sizesWrapper

                .sizeBox.container
                    input(type="checkbox" name="35" onclick=`handleCheckboxClick(event)`).form-check-input
                    label(for="35") 35
                    input(type="number" id="35" disabled placeholder="Quantity").form-control.quantity

                .sizeBox.container
                    input(type="checkbox" name="36" onclick=`handleCheckboxClick(event)`).form-check-input
                    label(for="36") 36
                    input(type="number" id="36" disabled placeholder="Quantity").form-control.quantity

        input(type="hidden" name="sizes" id="arrSizeQuantity")
        //- select(name='size' multiple).custom-select
        //-     each item in sizes
        //-         option(value=item.id)=item.number

        input(type="submit" value="Create" class="button" onclick="handleCreate(event)").btn-info.btn.my-2

    script.

        let arrSizeQuantity = new Array();
        
        function initializeSizeForm(){
            let checkboxs =  document.getElementsByClassName('form-check-input');
            for(item of checkboxs){
                item.checked = false;
            }
            let quantityInputs = document.getElementsByClassName('quantity')
            for(item of quantityInputs){
                item.disabled = true;
                item.value = '';
            }
        }

        function handleCheckboxClick(event) {
            let inputQuantity = document.getElementById(event.target.name);

            if(event.target.checked){
                inputQuantity.disabled = false;

                let sizeQuantity = {};

                sizeQuantity.size = parseInt(inputQuantity.id);

                inputQuantity.addEventListener('input', () => {
                    sizeQuantity.quantity = parseInt(inputQuantity.value);
                });

                arrSizeQuantity.push(sizeQuantity);
            }else {
                inputQuantity.disabled = true;
                inputQuantity.value = inputQuantity.placeholder;    
            }
        }

        //- Pasar por parametrpo el valor del arrSizeQuantity
        function handleCreate(event){
            document.getElementById('arrSizeQuantity').value = JSON.stringify(arrSizeQuantity);
        }

        //- Reseteo los checkbox al entrar:
        initializeSizeForm();