extends ../layout

block content 
    a(href="/products")
        button.btn.btn-info List  
    h2 Create new product
    form(action='/products/create', method='POST', class="newProduct")
        label Title
        input(type="text", name='title').form-control

        label Description
        textarea(name="description", cols="30", rows="4").form-control

        label Price
        input(type="text", name='price').form-control

        label Discount
        input(type="text", name='discount').form-control

        label Brand
        select(name='brand').custom-select
            option(value='') Please Select
            each item in brands
                option(value=item.id)=item.name

        label Size
        select(name='size' multiple).custom-select
            each item in sizes
                option(value=item.id)=item.number

        label Category
        select(name='category').custom-select
            option(value='') Please Select
            each item in categories
                option(value=item.id)=item.name

        input(type="submit", value="Create" class="button").btn-info.btn.my-2