extends ../layout

block content 
    a(href="/products")
        button.btn.btn-info List  
    h2 Create new product
    form(action='/products/create', method='POST', class="newProduct")
        label Title
        input(type="text", name='title').form-control

        label Description
        textarea(name="description", cols="30", rows="4").form-control

        label Price
        input(type="text", name='price').form-control

        label Discount
        input(type="text", name='discount').form-control

        label Brand
        select(name='brand').custom-select
            option(value='') Please Select
            each item in brands
                option(value=item.id)=item.name

        label Size
        label(for="35") Size 35
        input(type="checkbox" id="35" onclick=`handleCheckboxClick(event)`)
        input(type="number" id="35" disabled)

        label(for="36") Size 36
        input(type="checkbox" id="36")

        label(for="37") Size 37
        input(type="checkbox" id="37")

        label(for="38") Size 38
        input(type="checkbox" id="38")

        label(for="39") Size 39
        input(type="checkbox" id="39")

        label(for="40") Size 40
        input(type="checkbox" id="40")

        label(for="41") Size 41
        input(type="checkbox" id="41")
        
        //- select(name='size' multiple).custom-select
        //-     each item in sizes
        //-         option(value=item.id)=item.number

        label Category
        select(name='category').custom-select
            option(value='') Please Select
            each item in categories
                option(value=item.id)=item.name

        .custom-file.my-2
            input(type="file" class="custom-file-input" id="customFile")
            label(class="custom-file-label" for="customFile") Upload images
        

        input(type="submit", value="Create" class="button").btn-info.btn.my-2

    script.
        function handleCheckboxClick(event) {
            console.log(event.target.id);
        }