extends ../layout.pug

block content

    .container

        h1 Sign Up

        form(action="/sign-up/new" method="post")

            div.form-group
                label Name
                input(type="text" name="name").form-control

            div.form-group
                label Address
                input(type="text" name="address").form-control

            div.form-group
                label Phone
                input(type="text" name="phone").form-control

            div.form-group
                label Email
                input(type="email" name="email").form-control

            div.form-group
                label Password
                input(type="password" name="password").form-control

            div.form-group
                input(type="submit" value="Create Account").btn.btn-primary



